.recharts-surface {
  font-size: 12px;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

.MuiDataGrid-root {
  font-size: 12px !important;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif !important;
}

.MuiButton-root {
  font-size: 12px !important;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif !important;
}

MuiDataGrid-footerContainer {
  font-size: 12px !important;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif !important;
}
